# Server
SERVER_PORT=3000

# MongoDB
MONGODB=""

# Log
LOG=true

# JWT
JWT_KEY=""
JWT_KEY_REFRESH=""

# Postgre
DB_USER=""
DB_HOST=""
DB_DATABASE=""
DB_PASSWORD=""
DB_PORT=""
DB_MAX=""
DB_IDLE_TIMEOUT=""
DB_CONNECTION_TIMEOUT=""   
